.fieldcuerpo{
  width: auto;
  padding: 10px;
  border:1px solid #999;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #000;
  font-weight: 800;
}
.fieldcuerpo legend{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: rgba(254,182,69,1);
  background: -moz-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 54%, rgba(241,231,103,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(54%, rgba(241,231,103,1)), color-stop(100%, rgba(241,231,103,1)));
  background: -webkit-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 54%, rgba(241,231,103,1) 100%);
  background: -o-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 54%, rgba(241,231,103,1) 100%);
  background: -ms-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 54%, rgba(241,231,103,1) 100%);
  background: linear-gradient(to right, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 54%, rgba(241,231,103,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f1e767', GradientType=1 );
  border:1px solid #ccc;
  width: auto;
  padding: 3px 6px 3px 6px;
}
 .brillo{
    position:relative;
    display: block;
    //height: 133px;
    // width: 132px;
    text-decoration:none;
    overflow:hidden;
}
.brillo span{
    position:relative;
    display: block;
    background:url('../../assets/imagenes/brillog.png') no-repeat;
background-position: -300px 0px;
margin-top:-250px;
height: 260px;
width: 256px;
}
.brillo:hover span{

    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 1.5s;
}
.brillo2{
    position:relative;
    display: block;
    //height: 133px;
    // width: 132px;
    text-decoration:none;
    overflow:hidden;
}
.brillo2 span{
    position:relative;
    display: block;
    background:url('../../assets/imagenes/brillog01.png') no-repeat;
background-position: -300px 0px;
margin-top:-580px;
height: 600px;
width: 324px;
}
.brillo2:hover span{

    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
}


